<div class="main col-12 d-flex flex-column justify-content-evenly align-items-center">
    <app-side-button imgUrl="../../../assets/icons/slidebar/bell.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/money.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/money.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/dot.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/menu.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/4dot.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/person.svg"></app-side-button>
    <app-side-button imgUrl="../../../assets/icons/slidebar/logout.svg"></app-side-button>
</div>
