<button class="btn rounded-circle position-relative d-flex justify-content-center align-items-center">
    <img [src]="imgUrl" width="'width'" />
    <div
      class="position-absolute btn_overlap translate-middle rounded-circle"
    ></div>
    <div
      class="position-absolute btn_overlap_1 translate-middle rounded-circle"
    >
      <div class="rounded-circle btn_overlap_1_inner"></div>
    </div>

    <div class="symbols position-absolute  position-relative ">
      <img src="../../../assets/icons/hero/circle.svg" class="symbol position-absolute circle">
      <img src="../../../assets/icons/hero/rhombus.svg" class="symbol position-absolute rhombus">
      <img src="../../../assets/icons/hero/triangle.svg" class="symbol position-absolute triangle">
    </div>

  </button>