<div class="main col-12 d-flex flex-column px-3 py-3 rounded">
    <div class="label d-flex justify-content-between pb-3 align-items-center">
        <div class="image_part d-flex align-items-center">
            <img src="../../../assets/icons/hero/lab.svg" alt="" width="30" class="rounded">
            <span class="ps-1">{{name}}</span>
        </div>
        <div class="storage">
            <p class="m-0">{{network}}</p>
        </div>
    </div>

    <div class="line rounded position-relative rounded-pill">
        <div class="position-absolute innerline rounded-pill left-0"></div>
    </div>
</div>